@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@keyframes fadeUp{
  from{
    opacity: 0.001;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeUp{
  animation-name: fadeUp;
  animation-duration: 0.8s;
  transition-timing-function: ease-out;
  animation-fill-mode: backwards;
}

html {
  font-size: 18px;
  overflow-x: hidden;
  background-color: #fadfd5;
}

input:focus {
  outline: none;
}

.homePage {
  background-color: #204b45;
  height: 100vh;
}

.headerImg{
  width: 102%;
  margin-left: -1%;
  margin-top: -50px;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.logoWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 0.2s;
}

.logoWrapper:hover .logo{
  filter: invert(56%) sepia(50%) saturate(7213%) hue-rotate(350deg) brightness(101%) contrast(83%);
}

.logoWrapper:hover h1{
  color: #E95E2A;
}

.headerTitle{
  text-decoration: none;
}

.logo {
  width: 2.4rem;
  padding-right: 0.5rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: #fadfd5;
}

.App {
  font-family: 'Work Sans', sans-serif;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }

  .headerImg{
    width: 120%;
    margin-top: 0px;
  }
}